.Accordion {
    width: 230px;

    .Category_all {
            color: #0D6EFD;
        }

               

}

.brands_chekbox {
    display: flex;
    height: 25px;
    gap: 20px;
    margin-top: 10px;

    #checkbox {
            width: 20px;
        }

               

}
 .brands_all {
     margin-top: 15px;
     color: #0D6EFD;
 }



